<!DOCTYPE html>
<html>
<!-- Bootstrap Stuff -->
    <head> 
        <meta name = "viewport" content="width = device-width, initial-scael = 1">
            <!-- Latest compiled and minified CSS -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <!-- Latest compiled and minified JavaScript -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link herf = "Style_sheet.css" rel = "stylesheet" type="text/css" >
    </head>

<!-- CSS -->
<link href="Style_Sheet.css" rel="stylesheet">

<!-- Title & Navigation Bar -->
<div class = "container-fluid">
    <div class="row">
        <div class = "col-md-3">
            <h1 class="text-left"><img src="../Img/Pokeball.png" class="img-circle" alt="Pokeball" height="50" width="50"> Poké-Assistant</h1>   
        </div>
        <div class = "col-md-9 ml-auto text-right">
            <h1>  </h1>
            <a href = "Front_Page.html" type="button" class="btn btn-primary">Home</a>     
            <a href = "Pokedex_Page.html" type="button" class="btn btn-primary">Pokedex</a>
            <a href = "Interactive_Map.html" type="button" class="btn btn-primary">Interactive Map</a>
            <a href = "Type_Calculator.html"  type="button" class="btn btn-primary">Type Calculator</a>
            <a href = "Login_Page.html" type="button" class="btn btn-danger">Login</a>
        </div>
    </div>
</div>
</div>

<!-- Login -->
<div class= "container">
    <div align = "center">
        <h2>Login to keep track of your collection!</h2>
        <form>
            <div class = "input-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="Username" type="text" class="form-control" name="Username" placeholder="Username">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>
                <button type="submit" class="btn btn-default btn-block" >Submit</button>
            </div>
        </form>
    </div>

</div>



</html>