<!DOCTYPE html>
<html>
<!-- Bootstrap Stuff -->
    <head> 
        <meta name = "viewport" content="width = device-width, initial-scael = 1">
            <!-- Latest compiled and minified CSS -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <!-- Latest compiled and minified JavaScript -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link herf = "Style_sheet.css" rel = "stylesheet" type="text/css" >
    </head>
   
<!-- CSS -->
<link href="Style_Sheet.css" rel="stylesheet">
<link href="Style_Sheet.css" rel="stylesheet">
    <style>
        html{
            overflow: hidden;
        }
        input[type=submit]{
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 4px;
            cursor: pointer;
            width: 10%;
}
    </style>


<!-- Title & Navigation Bar -->
<div class = "container-fluid">
    <div class="row">
        <div class = "col-md-3">
            <h1 class="text-left"><img src="../Img/Pokeball.png" class="img-circle" alt="Pokeball" height="50" width="50"> Poké-Assistant</h1>   
        </div>
        <div class = "col-md-9 ml-auto text-right">
            <h1>  </h1>
            <a href = "Front_Page.html" type="button" class="btn btn-primary">Home</a>     
            <a href = "Pokedex_Page.html" type="button" class="btn btn-primary">Pokédex</a>
            <a href = "Team_Page.html.html" type="button" class="btn btn-primary">Teams</a>
            <a href = "Interactive_Map.html" type="button" class="btn btn-primary">Interactive Map</a>
            <a href = "Type_Calculator.html"  type="button" class="btn btn-danger">Type Calculator</a>
            <a href = "Login_Page.html" type="button" class="btn btn-primary">Login</a>
        </div>
    </div>
</div>

<!-- Call in the Javascript -->
<script src="Type_Calculator_Revised.js"></script>

<!-- Type 1 -->
<div align = "center">
    <h1>Type 1</h1>
    <div>
        <button class="button normalType"   value = '0' onclick='normalType("type1");   whenClicked(); typeCalculator()'>Normal</button>
        <button class="button fireType"     value = '1'  onclick='fireType("type1");     whenClicked();'>Fire</button>
        <button class="button waterType"    value = '2'  onclick='waterType("type1");    whenClicked();'>Water</button>
        <button class="button electricType" value = '3' onclick='electricType("type1"); whenClicked();'>Electric</button>
        <button class="button grassType"    value = '4'  onclick='grassType("type1");    whenClicked();'>Grass</button>
        <button class="button iceType"      value = '5'  onclick='iceType("type1");      whenClicked();'>Ice</button>
        <button class="button fightingType" value = '6' onclick='fightingType("type1"); whenClicked();'>Fighting</button>
        <button class="button poisonType"   value = '7'  onclick='poisonType("type1");   whenClicked();'>Poison</button>
        <button class="button groundType"   value = '8' onclick='groundType("type1");   whenClicked();'>Ground</button>
        <button class="button flyingType"   value = '9'  onclick='flyingType("type1");   whenClicked();'>Flying</button>
        <button class="button psychicType"  value = '10' onclick='psychicType("type1");  whenClicked();'>Psychic</button>
        <button class="button bugType"      value = '11'  onclick='bugType("type1");      whenClicked();'>Bug</button>
        <button class="button rockType"     value = '12'  onclick='rockType("type1");     whenClicked();'>Rock</button>
        <button class="button ghostType"    value = '13'  onclick='ghostType("type1");    whenClicked();'>Ghost</button>
        <button class="button dragonType"   value = '14' onclick='dragonType("type1");   whenClicked();'>Dragon</button>
        <button class="button darkType"     value = '15'  onclick='darkType("type1");     whenClicked();'>Dark</button>
        <button class="button steelType"    value = '16' onclick='steelType("type1");    whenClicked();'>Steel</button>
        <button class="button fairyType"    value = '17'  onclick='fairyType("type1");    whenClicked();'>Fairy</button>
    </div>
</div>

<!-- Type 2 -->
<div align = "center">
    <h1>Type 2</h1>
    <div>
        <button class="button normalType"   value = '0'     onclick='normalType("type2"); whenClicked();'>Normal</button>
        <button class="button fireType"     value = '1'     onclick='fireType("type2"); whenClicked();'>Fire</button>
        <button class="button fightingType" value = '2'     onclick='fightingType("type2"); whenClicked();'>Fighting</button>
        <button class="button waterType"    value = '3'     onclick='waterType("type2"); whenClicked();'>Water</button>
        <button class="button flyingType"   value = '4'     onclick='flyingType("type2"); whenClicked();'>Flying</button>
        <button class="button grassType"    value = '5'     onclick='grassType("type2"); whenClicked();'>Grass</button>
        <button class="button poisonType"   value = '6'     onclick='poisonType("type2"); whenClicked();'>Poison</button>
        <button class="button electricType" value = '7'     onclick='electricType("type2"); whenClicked();'>Electric</button>
        <button class="button groundType"   value = '8'     onclick='groundType("type2"); whenClicked();'>Ground</button>
        <button class="button psychicType"  value = '9'     onclick='psychicType("type2"); whenClicked();'>Psychic</button>
        <button class="button rockType"     value = '10'     onclick='rockType("type2"); whenClicked();'>Rock</button>
        <button class="button iceType"      value = '11'     onclick='iceType("type2"); whenClicked();'>Ice</button>
        <button class="button bugType"      value = '12'     onclick='bugType("type2"); whenClicked();'>Bug</button>
        <button class="button dragonType"   value = '13'     onclick='dragonType("type2"); whenClicked();'>Dragon</button>
        <button class="button ghostType"    value = '14'     onclick='ghostType("type2"); whenClicked();'>Ghost</button>
        <button class="button darkType"     value = '15'     onclick='darkType("type2"); whenClicked();'>Dark</button>
        <button class="button steelType"    value = '16'     onclick='steelType("type2"); whenClicked();'>Steel</button>
        <button class="button fairyType"    value = '17'     onclick='fairyType("type2"); whenClicked();'>Fairy</button>
        <button class="button" value = '18' onclick='noType("type2"); whenClicked();'>None</button>
    </div>
</div>

<!-- Selected Types -->
<div align = "center">
    <h1>Selected Types</h1>
    <div>
        <button id = "type1" class="button_display" value = "18">None</button>
        <button id = "type2" class="button_display" value = "18">None</button>
        
    </div>
<br><br>
</div>
   <button type="submit" class="btn btn-primary btn-block" onclick="typeCalculator()" >Submit</button>




<!-- <div align="left">
    <input type="submit" id="submit" value="Submit" onclick="typeCalculator()" >
</div> -->


<br><br>
<!-- Type Weaknesses -->
<table align = "center">
    <tr>
      <th>Normal</th>
      <th>Fire</th>
      <th>Water</th>
      <th>Electric</th>
      <th>Grass</th>
      <th>Ice</th>
      <th>Fighting</th>
      <th>Poison</th>
      <th>Ground</th>
      <th>Flying</th>
      <th>Psychic</th>
      <th>Bug</th>
      <th>Rock</th>
      <th>Ghost</th>
      <th>Dragon</th>
      <th>Dark</th>
      <th>Steel</th>
      <th>Fairy</th>

    </tr>
    <tr>
      <td id = Normal></td>
      <td id = Fire></td>
      <td id = Water></td>
      <td id = Electric></td>
      <td id = Grass></td>
      <td id = Ice></td>
      <td id = Fighting></td>
      <td id = Poison></td>
      <td id = Ground></td>
      <td id = Flying></td>
      <td id = Psychic></td>
      <td id = Bug></td>
      <td id = Rock></td>
      <td id = Ghost></td>
      <td id = Dragon></td>
      <td id = Dark></td>
      <td id = Steel></td>
      <td id = Fairy></td>
    </tr>
  </table>

</html>